html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; 
  text-decoration: none;}

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*
  Main Styles
========================== */

html, body {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 978px;
  padding: 0px 12px;
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: #AAA 1px solid;
}

.header {
  height: 50px;
  background-color: white;
  line-height: 50px;
}

.header a {
  float: left;
}

.secondary-nav a {
  font-size: 14px;
  margin-left: 20px;
}

.logo {
  font-weight: bold;
  float: left;
  text-transform: uppercase;
}

.poster {
  width: 100%;
  height: 320px;
  background-image: url(../img/poster.jpg);
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center center;
}

@media screen and (min-width: 978px) {
  .poster {
    height: 420px;
  }
}

@media screen and (min-width: 1218px) {
  .poster {
    height: 520px;
  }
}

/*
  Stage
========================== */

.page-title {
  position: absolute;
  height: 18px;
  padding: 16px 18px;
  top: -51px;
  font-size: 18px;
  background-color: white;
  display: inline-block;
  border-bottom: #EFEFEF 1px solid;
}

.stage {
  width: 100%;
  position: relative;
  background-color: white;
}

.meta-column {
  padding-top: 20px;
  width: 18%;
  margin-right: 2%;
  float: left;
}

.content-column {
  padding-top: 20px;
  width: 63%;
  float: left;
}

.content-column a {
  color: #053c98;
}

.social-column {
  color: #999;
  font-size: 90%;
  padding-top: 20px;
  width: 15%;
  margin-left: 2%;
  float: left;
}

/* ToC Module */

.toc-module {
  background-color: #F9F9F9;
  padding: 10px;
}

/* Fix Me */

span {
  font-weight: bold;
}

i {
  font-weight: italic;
}

p, blockquote {
    margin-bottom: 10px;
    font-size: 90%;
    line-height: 1.7;
  }
  blockquote {
    padding-left: 8px;
    border-left: 2px #EEEEEE solid;
  }
  ul, ol {
    padding-top: 20px;
    padding-left: 20px;
  }
  ul:first-child, ol:first-child {
    padding-top: 0;
  }
  ol {
    padding-left: 25px;
  }
  ol li {
    font-size: 75%;
  }  
  li {
    padding: 3px 0px;
    width: 90%;
    font-size: 80%;
    line-height: 1.4;
  }
  ul li {
    list-style: circle;
  }
  ol li {
    list-style: decimal-leading-zero;
  }
  li a {
    font-weight: normal;
  }
  br {
    width: 100%;
    height: 40px;
  }